/* ------------------ */
/*    Basic Setup    */
/* ----------------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:20px;
    /*
    font-family: 'Lato', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    color:#555;
    background-color:#fff;
    text-rendering:optimizeLegibility;
    overflow:hidden;
}

/* ------------------ */
/*      HEADER       */
/* ----------------- */

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(benjamin-child-90768.jpg);
    height:100vh;
    background-size:cover;
    background-position:center center;
    position:relative;
}
nav{
    overflow:hidden;
    height:18%; 
}
.logo-box{
    float:left;
    margin-top:30px;
    margin-left:50px;
    background-color:#fff;
    border-radius:3px;
    padding:3px;
}
.main-nav {
    float:right;
    list-style:none;
    margin-top:45px;
}
.main-nav li {
    display:inline-block;
    margin-right:60px;
}
.main-nav li a:link,
.main-nav li a:visited{
    text-decoration:none;
    color:#fff;;
    text-transform:uppercase;
    font-size:70%;
    font-weight:700;
    padding:5px;
}
.main-nav li a:hover,
.main-nav li a:active{
    color:rgb(159,177,0);
}
.btn-contact:link,
.btn-contact:visited{
    padding:12px !important ;
    border:1px solid rgb(159,177,0);
    background-color:rgb(159,177,0);
    color:#fff !important ;
    border-radius:4px;
}
.btn-contact:hover,
.btn-contact:active{
    background-color:rgb(139,160,0);
    border:1px solid rgb(139,160,0);
}
.hero-text-box{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
    padding:2%;
}
h1{
    color:#fff;
    text-transform:uppercase;
    
}
.long-copy{
    color:#fff;
    font-weight:200;
    margin-bottom:30px;
}
.btn-full:link,
.btn-full:visited{
    text-decoration:none;
    padding:10px 20px;
    color:#fff;
    background-color:rgb(159,177,0);
    border:1px solid rgb(159,177,0);
    border-radius:4px;
}

